extends ./layout.pug

block content
  tr
    td
      .t52(style='mso-line-height-rule: exactly; mso-line-height-alt: 32px; line-height: 32px; font-size: 1px; display:block;')
        | &nbsp;

  tr
    td
      table.t14(
        role='presentation'
        cellpadding='0'
        cellspacing='0'
        align='center'
      )
        tr
          td.t15(style='width: 600px;')
            h1.t21(style="text-decoration: none; text-transform: none; letter-spacing: -1.04px; direction: ltr; color: #191919; text-align: left; mso-line-height-rule: exactly; mso-text-raise: 1px; font: normal 800 26px/28px BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, 'Albert Sans';")
              | Ol&aacute; #{user_name},

  tr
    td
      .t13(style='mso-line-height-rule: exactly; mso-line-height-alt: 18px; line-height: 18px; font-size: 1px; display: block;')
        | &nbsp;

  tr
    td
      table.t43(
        role='presentation'
        align='center'
        cellpadding='0'
        cellspacing='0'
      )
        tr
          td.t44(style='width: 600px;')
            p.t50(style="text-decoration: none; text-transform: none; letter-spacing: -0.56px; direction: ltr; color: #333333; text-align: left; mso-line-height-rule: exactly; mso-text-raise: 2px; font: normal 500 14px/22px BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, 'Albert Sans';")
              | Voc&ecirc; foi convidado pela
              |
              b #{ong_name}
              |
              |  para estar acessando a plataforma do Find Your Best Friend.

  tr
    td
      .t42(style='mso-line-height-rule: exactly; mso-line-height-alt: 18px; line-height: 18px; font-size: 1px; display:block;')
        | &nbsp;

  tr
    td
      table.t63(
        role='presentation'
        align='left'
        cellpadding='0'
        cellspacing='0'
      )
        tr
          td.t64(style='background-color: #181818; width: 170px; cursor: pointer; text-align: center; line-height: 44px; mso-line-height-rule: exactly; mso-text-raise: 10px; border-radius: 44px 44px 44px 44px;')
            span.t70(style="display: block; text-decoration: none; text-transform: uppercase; letter-spacing: 2.4px; direction: ltr; color: #F8F8F8; text-align: center; mso-line-height-rule: exactly; mso-text-raise: 10px; font: normal 800 12px/44px BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, 'Albert Sans';" target='_blank')
              | Acessar