doctype html

html
  head
    meta(name='x-apple-disable-message-reformatting')
    meta(http-equiv='X-UA-Compatible')
    meta(charset='utf-8')
    meta(name='viewport' content='target-densitydpi=device-dpi')
    meta(content='true' name='HandheldFriendly')
    meta(content='width=device-width' name='viewport')

    link(rel="stylesheet" type="text/css" href="/styles.css")
    link(
      rel='stylesheet'
      type='text/css'
      href='https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500;800&display=swap'
    )

  body
    .t1(style='background-color:#F0F0F0;')
      table(role='presentation' width='100%' cellpadding='0' cellspacing='0' border='0' align='center')
        tr
          td.t71(
            style='font-size: 0; line-height: 0; mso-line-height-rule: exactly;'
            align='center'
            valign='top'
          )
            table(
              role='presentation'
              width='100%'
              align='center'
              border='0'
              cellpadding='0'
              cellspacing='0'
            )
              tr
                td
                  .t3(style='mso-line-height-rule: exactly; font-size: 1px; display:none;')
                    | &nbsp;

              tr
                td
                  table.t10(
                    role='presentation'
                    align='center'
                    cellpadding='0'
                    cellspacing='0'
                  )
                    tr
                      td.t11(style='background-color: #F8F8F8; width: 540px; padding: 0 30px 40px 30px;')
                        table(
                          role='presentation'
                          width='100%'
                          cellpadding='0'
                          cellspacing='0'
                        )
                          tr
                            td
                              table.t53(
                                role='presentation'
                                align='left'
                                cellpadding='0'
                                cellspacing='0'
                              )
                                tr
                                  td.t54(style='background-color: unset; width:130px;')
                                    div(style='font-size: 0px;')
                                      img.t60(
                                        width='130'
                                        style='display: block; border: 0; height: auto; width: 100%; margin: 0; max-width: 100%;'
                                        src='https://cdn.dribbble.com/userupload/3061251/file/original-fa3ce934c7df611527c76d1bbc68ee1d.png?compress=1&resize=1024x768'
                                      )

                          block content

              tr
              td
                table.t29(
                  role='presentation'
                  align='center'
                  cellpadding='0'
                  cellspacing='0'
                )
                  tr
                    td.t30(style='width: 536px; padding: 32px 32px 32px 32px;')
                      table(
                        role='presentation'
                        width='100%'
                        cellpadding='0'
                        cellspacing='0'
                      )
                        tr
                          td
                            table.t33(
                              role='presentation'
                              align='center'
                              cellpadding='0'
                              cellspacing='0'
                            )
                              tr
                                td.t34(style='width:600px;')
                                  p.t40(style="text-decoration: none; text-transform: none; direction: ltr; color: #888888; text-align: center; mso-line-height-rule: exactly; mso-text-raise: 3px; font: normal 500 12px/22px BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, 'Albert Sans';")
                                    | &copy; Find Your Best Friend, Todos os direitos reservados.
